<div id="main">
    <!-- <img src="/image/1F.jpg" style="width: 100%;"> -->
    <!-- <img src="/image/2F.jpg" style="width: 100%;">
    <img src="/image/3F.jpg" style="width: 100%;">
    <img src="/image/4F.jpg" style="width: 100%;"> -->
    <h2>照護資訊系統</h2>
</div>