<nav class="col-md-2 sidebar" style="background-color: azure;position:fixed;top:50px;bottom:0px;left:0px;right:0px;padding:0px;z-index:9970x;">
  <div class="sidebar-sticky">
    <ul class="nav flex-column" >
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">1F</a>
        <div class="dropdown-menu">
          <button id="room11" type="button" class="dropdown-item" style="text-align: center">101號</button>
          <button id="room12" type="button" class="dropdown-item" style="text-align: center">102號</button>
          <button id="room13" type="button" class="dropdown-item" style="text-align: center">103號</button>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">2F</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#" style="text-align: center">201號</a>
          <a class="dropdown-item" href="#" style="text-align: center">202號</a>
          <a class="dropdown-item" href="#" style="text-align: center">203號</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">3F</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#" style="text-align: center">301號</a>
          <a class="dropdown-item" href="#" style="text-align: center">302號</a>
          <a class="dropdown-item" href="#" style="text-align: center">303號</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">4F</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#" style="text-align: center">401號</a>
          <a class="dropdown-item" href="#" style="text-align: center">402號</a>
          <a class="dropdown-item" href="#" style="text-align: center">403號</a>
        </div>
      </li>
    </ul>
  </div>
</nav>