<h2>無法登入？</h2>
<h2>遇上無法登入請嘗試以下幾點</h2>
    
<h2>1.確認帳戶是否經過信箱驗證完成，會員必需驗證後，才可以登入</h2>
<h2>2.確認所屬使用網路環境</h2>
<h2>3.該帳號已登入完成</h2>
<h2>4.帳號未註冊</h2>
<h2>5.密碼大小寫輸入錯誤</h2>
    
<h2>如嘗試以上問題依然存在請提供</h2>
<h2>1.帳戶、註冊信箱</h2>
    
<h2>發送郵件至service@rsx.com.tw，將有專人為您處理。</h2>