<!DOCTYPE html>
<html>

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Google字體 -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
     <!-- jquery -->

    <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script> -->

    <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>

	<script src="/js/jQueryRotate.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
    <!-- <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->

    <title><%= title%></title>
    <!-- <link rel='stylesheet' href='/css/style.css' /> -->
    <!-- <link rel='stylesheet' href='/css/signin.css'> -->
	<link rel='stylesheet' href='/css/loading.css'>
	
	<link rel='stylesheet' href='/css/loginV3.css'>
    
  </head>
  
  <body class="text-center">

    <div id="load" class="loading" style="display:none;z-index:9999;">
      <div class="spinner-border text-warning" role="status">
      </div>
      <span class="text-warning">讀取中...</span>
    </div>
  
    <script>
      function loading(){
        $("#load").css("display","block");
      }
    </script>
	
	<form action="/user/login" method="POST">
		<div class="bg-container">
			<img class="noselect bg" src="/image/loginbg.png" />
			<img class="noselect bg-mobile" src="/image/loginbg-mobile.png" />
			<div class="login-form">
				<div class="middle">
					<div class="h2">使用者登入</div>
					<div class="h3">帳號</div>
					<div><input type="text" name="account" placeholder="Account" required /></div>
					<div class="h3">密碼</div>
					<div><input type="password" name="password" placeholder="Password" required /></div>
					<div class="h4">忘記密碼</div>
					<button class="btn" type="submit" onclick="loading()">登入</button>
				</div>
			</div>
		</div>
	</form>
  </body>

</html>