<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Google字體 -->
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">

  <!-- <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script> -->

  <!-- jquery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script> -->
  
  <!-- canvasjs -->
  <script type="text/javascript" src="/js/canvasjs.min.js"></script>

  <!-- chart JS -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  <!-- <script src="/jquery/jquery.js"></script> -->

  <script src="/js/jquery.dataTables.min.js"></script>
  <link rel='stylesheet' type="text/css" href='/css/jquery.dataTables.min.css' />

  <!-- FusionCharts -->
  <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
  <!-- jQuery-FusionCharts -->
  <script type="text/javascript"
    src="https://rawgit.com/fusioncharts/fusioncharts-jquery-plugin/develop/dist/fusioncharts.jqueryplugin.min.js"></script>
  <!-- Fusion Theme -->
  <script type="text/javascript"
    src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>


  <script src="/js/jQueryRotate.js"></script>

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>



  <!-- fullcalendar -->
  <link href="https://unpkg.com/@fullcalendar/core@4.3.1/main.min.css" rel="stylesheet">
  <link href="https://unpkg.com/@fullcalendar/daygrid@4.3.0/main.min.css" rel="stylesheet">
  <link href="https://unpkg.com/@fullcalendar/timegrid@4.3.0/main.min.css" rel="stylesheet">
  <link href="https://unpkg.com/@fullcalendar/list@4.3.0/main.min.css" rel="stylesheet">
  <link href="https://unpkg.com/@fullcalendar/timeline@4.3.0/main.min.css" rel="stylesheet">
  <link href="https://unpkg.com/@fullcalendar/resource-timeline@4.3.0/main.min.css" rel="stylesheet">

  <script src="https://unpkg.com/@fullcalendar/core@4.3.1/main.min.js"></script>
  <script src="https://unpkg.com/@fullcalendar/interaction@4.3.0/main.min.js"></script>
  <script src="https://unpkg.com/@fullcalendar/daygrid@4.3.0/main.min.js"></script>
  <script src="https://unpkg.com/@fullcalendar/timegrid@4.3.0/main.min.js"></script>
  <script src="https://unpkg.com/@fullcalendar/list@4.3.0/main.min.js"></script>
  <script src="https://unpkg.com/@fullcalendar/timeline@4.3.0/main.min.js"></script>
  <script src="https://unpkg.com/@fullcalendar/resource-common@4.3.1/main.min.js"></script>
  <script src="https://unpkg.com/@fullcalendar/resource-daygrid@4.3.0/main.min.js"></script>
  <script src="https://unpkg.com/@fullcalendar/resource-timegrid@4.3.0/main.min.js"></script>
  <script src="https://unpkg.com/@fullcalendar/resource-timeline@4.3.0/main.min.js"></script>
  <script src="https://unpkg.com/@fullcalendar/bootstrap@4.3.0/main.min.js"></script>
  <script src="https://unpkg.com/@fullcalendar/moment@4.3.0/main.min.js"></script>
  <script src="https://unpkg.com/@fullcalendar/moment-timezone@4.3.0/main.min.js"></script>

  <!-- <script src="https://unpkg.com/@fullcalendar/react@4.3.0/main.umd.js"></script> -->
  <!-- <script src="https://unpkg.com/@fullcalendar/vue@4.3.1/main.umd.js"></script> -->
  <!-- <script src="https://unpkg.com/@fullcalendar/angular@4.3.1/bundles/fullcalendar-angular.umd.js"></script> -->

  <!-- Toast UI calender -->
  <!-- <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.css" />
  <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
  <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css" />
  <link rel='stylesheet' type="text/css" href='/css/icons.css' />
  <link rel="stylesheet" type="text/css" href="/css/tui-calendar.css" /> -->
  <!-- <link rel="stylesheet" type="text/css" href="/css/default.css"> -->

  <!-- <script type="text/javascript" src="https://uicdn.toast.com/tui.code-snippet/latest/tui-code-snippet.min.js"></script>
  <script type="text/javascript" src="https://uicdn.toast.com/tui.dom/v3.0.0/tui-dom.js"></script>
  <script type="text/javascript" src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.min.js"></script>
  <script type="text/javascript" src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.0.13/chance.min.js"></script>
  <script src="https://uicdn.toast.com/tui.code-snippet/latest/tui-code-snippet.js"></script>
  <script src="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
  <script src="/js/tui-calendar.js"></script>
  <script src="/js/calendars.js"></script>
  <script src="/js/schedules.js"></script> -->
  <!-- <script src="/js/calendar_app.js"></script> -->

  <title>護聯網平台</title>
  <link rel='stylesheet' type="text/css" href='/css/style.css' />

  <link rel='stylesheet' type="text/css" href='/css/layer.css' />

  <link rel='stylesheet' type="text/css" href='/css/loading.css' />

	<link rel='stylesheet' type="text/css" href='/css/_overrides.css' />
</head>