<table style="width:100%;height:100%;background-color: white">
    <tr style="height: 50%">
        <td style="width:50%">
            <div id="Light_chart" style="width:100%">FusionCharts will render here</div>
        </td>
    </tr>
    <tr style="height: 50%">
        <td style="width:50%">
            <div id="Colorvalue_chart" style="width:100%">FusionCharts will render here</div>
        </td>
    </tr>
    <tr style="height: 50%">
        <td style="width:50%">
            <div id="Wat_chart" style="width:100%">FusionCharts will render here</div>
        </td>
    </tr>
    <script type="text/javascript">
        var Light_array = new Array();
        var Colorvalue_array = new Array();
        var Wat_array = new Array();
        var group_data = JSON.parse('<%- JSON.stringify(muti_data) %>');
        var group_name = JSON.parse('<%- JSON.stringify(muti_name) %>');
        var count = 0;
        for (var i = 0; i < group_data.length; i++) {
            for (var y = 0; y < group_data[i].length; y++) {
                var x = new Array();
                var z = new Array();
                var w = new Array();
                x[0] = parseInt(group_data[i][y].Light, 10);
                z[0] = parseInt(group_data[i][y].Colorvalue, 10);
                w[0] = parseInt(group_data[i][y].Wat, 10);
                x[1] = z[1] = w[1]= group_name[i][0].Name;
                x[2] = z[2] = w[2]= group_data[i][y].Time.split(' ')[0] + ' ' + group_data[i][y].Time.split(' ')[1];
                Light_array[count] = x;
                Colorvalue_array[count] = z;
                Wat_array[count] = w;
                count++;
            }
        }
        var Light_schema = [{
            "name": "亮度",
            "type": "number"
        }, {
            "name": "Type",
            "type": "string"
        }, {
            "name": "Time",
            "type": "date",
            "format": "%Y-%m-%d %H:%M:%S"
        }]
        // console.log(head_array);
        // console.log(foot_array);

        var LightDataStore = new FusionCharts.DataStore();
        var LightTable = LightDataStore.createDataTable(Light_array, Light_schema);

        new FusionCharts({
            type: 'timeseries',
            renderAt: 'Light_chart',
            width: "90%",
            height: 650,
            dataSource: {
                data: LightTable,
                "series": "Type",
                "yAxis": [{
                    "plot": {
                        "value": "亮度",//對應schema的欄位
                        "connectNullData": true,
                        "style": {
                            "line.null": {
                                "stroke-dasharray": "10",
                                "stroke": "#d0d0d0"
                            },
                            "border": 30,
                        },
                        "lineThickness": "20"
                    },
                    "min": "0",
                    "max": "100",
                }],
                xAxis: {
                    initialinterval: {
                        from: "07-Sep-19",
                        to: "07-Sep-19"
                    }
                },
                chart: {
                    exportEnabled: "1", //Enable Export Feature
                }
            }
        }).render()


        var Colorvalue_schema = [{
            "name": "色溫",
            "type": "number"
        }, {
            "name": "Type",
            "type": "string"
        }, {
            "name": "Time",
            "type": "date",
            "format": "%Y-%m-%d %H:%M:%S"
        }]
        var ColorvalueDataStore = new FusionCharts.DataStore();
        var ColorvalueTable = ColorvalueDataStore.createDataTable(Colorvalue_array, Colorvalue_schema);

        new FusionCharts({
            type: 'timeseries',
            renderAt: 'Colorvalue_chart',
            width: "90%",
            height: 650,
            dataSource: {
                data: ColorvalueTable,
                "series": "Type",
                "yAxis": [{
                    "plot": {
                        "value": "色溫",//對應schema的欄位
                        "connectNullData": true,
                        "style": {
                            "line.null": {
                                "stroke-dasharray": "10",
                                "stroke": "#d0d0d0"
                            },
                            "border": 30,
                        },
                        "lineThickness": "20"
                    },
                    "min": "0",
                    "max": "100",
                }],
                chart: {
                    exportEnabled: "1", //Enable Export Feature
                }
            }
        }).render()

        var Wat_schema = [{
            "name": "瓦數",
            "type": "number"
        }, {
            "name": "Type",
            "type": "string"
        }, {
            "name": "Time",
            "type": "date",
            "format": "%Y-%m-%d %H:%M:%S"
        }]
        var WatDataStore = new FusionCharts.DataStore();
        var WatTable = WatDataStore.createDataTable(Wat_array, Wat_schema);

        new FusionCharts({
            type: 'timeseries',
            renderAt: 'Wat_chart',
            width: "90%",
            height: 650,
            dataSource: {
                data: WatTable,
                "series": "Type",
                "yAxis": [{
                    "plot": {
                        "value": "瓦數",//對應schema的欄位
                        "connectNullData": true,
                        "style": {
                            "line.null": {
                                "stroke-dasharray": "10",
                                "stroke": "#d0d0d0"
                            },
                            "border": 30,
                        },
                        "lineThickness": "20"
                    },
                    "min": "0",
                    "max": "100",
                }],
                chart: {
                    exportEnabled: "1", //Enable Export Feature
                }
            }
        }).render()
    </script>
</table>