<% console.log(muti_data)%>
<table style="width:100%;height:100%;text-align: center;background-color: white">
    <tr style="height: 50%">
            <td style="width:50%">
                <div id="Breathe_chart" style="width:100%">FusionCharts will render here</div>
            </td>
    </tr>
    <tr style="height: 50%">
        <td style="width:50%">
            <div id="Bloodoxygen_chart" style="width:100%">FusionCharts will render here</div>
        </td>
    </tr>
    <tr style="height: 50%">
        <td style="width:50%">
            <div id="Heartrate_chart" style="width:100%">FusionCharts will render here</div>
        </td>
    </tr>
    <script type="text/javascript">
        var Breathe_array = new Array();
        var Bloodoxygen_array = new Array();
        var Heartrate_array = new Array();
        var group_data = JSON.parse('<%- JSON.stringify(muti_data) %>');
        var group_name = JSON.parse('<%- JSON.stringify(muti_name) %>');
        var count = 0;
        for (var i = 0; i < group_data.length; i++) {
            for (var y = 0; y < group_data[i].length; y++) {
                var x = new Array();
                var z = new Array();
                var w = new Array();
                x[0] = parseInt(group_data[i][y].Breathe, 10);
                z[0] = parseInt(group_data[i][y].Bloodoxygen, 10);
                w[0] = parseInt(group_data[i][y].Heartrate, 10);
                x[1] = z[1] = w[1]= group_name[i][0].Name;
                x[2] = z[2] = w[2]= group_data[i][y].Time.split(' ')[0] + ' ' + group_data[i][y].Time.split(' ')[1];
                Breathe_array[count] = x;
                Bloodoxygen_array[count] = z;
                Heartrate_array[count] = w;
                count++;
            }
        }
        var Breathe_schema = [{
            "name": "呼吸率",
            "type": "number"
        }, {
            "name": "Type",
            "type": "string"
        }, {
            "name": "Time",
            "type": "date",
            "format": "%Y-%m-%d %H:%M:%S"
        }]
        // console.log(head_array);
        // console.log(foot_array);

        var BreatheDataStore = new FusionCharts.DataStore();
        var BreatheTable = BreatheDataStore.createDataTable(Breathe_array, Breathe_schema);

        new FusionCharts({
            type: 'timeseries',
            renderAt: 'Breathe_chart',
            width: "90%",
            height: 650,
            dataSource: {
                data: BreatheTable,
                "series": "Type",
                "yAxis": [{
                    "plot": {
                        "value": "呼吸率",//對應schema的欄位
                        "connectNullData": true,
                        "style": {
                            "line.null": {
                                "stroke-dasharray": "10",
                                "stroke": "#d0d0d0"
                            },
                            "border": 30,
                        },
                        "lineThickness": "20"
                    },
                    "min": "0",
                    "max": "100",
                }],
                xAxis: {
                    initialinterval: {
                        from: "07-Sep-19",
                        to: "07-Sep-19"
                    }
                },
                chart: {
                    exportEnabled: "1", //Enable Export Feature
                }
            }
        }).render()


        var Bloodoxygen_schema = [{
            "name": "血氧",
            "type": "number"
        }, {
            "name": "Type",
            "type": "string"
        }, {
            "name": "Time",
            "type": "date",
            "format": "%Y-%m-%d %H:%M:%S"
        }]
        var BloodoxygenDataStore = new FusionCharts.DataStore();
        var BloodoxygenTable = BloodoxygenDataStore.createDataTable(Bloodoxygen_array, Bloodoxygen_schema);

        new FusionCharts({
            type: 'timeseries',
            renderAt: 'Bloodoxygen_chart',
            width: "90%",
            height: 650,
            dataSource: {
                data: BloodoxygenTable,
                "series": "Type",
                "yAxis": [{
                    "plot": {
                        "value": "血氧",//對應schema的欄位
                        "connectNullData": true,
                        "style": {
                            "line.null": {
                                "stroke-dasharray": "10",
                                "stroke": "#d0d0d0"
                            },
                            "border": 30,
                        },
                        "lineThickness": "20"
                    },
                    "min": "0",
                    "max": "100",
                }],
                chart: {
                    exportEnabled: "1", //Enable Export Feature
                }
            }
        }).render()

        var Heartrate_schema = [{
            "name": "心率",
            "type": "number"
        }, {
            "name": "Type",
            "type": "string"
        }, {
            "name": "Time",
            "type": "date",
            "format": "%Y-%m-%d %H:%M:%S"
        }]
        var HeartrateDataStore = new FusionCharts.DataStore();
        var HeartrateTable = HeartrateDataStore.createDataTable(Heartrate_array, Heartrate_schema);

        new FusionCharts({
            type: 'timeseries',
            renderAt: 'Heartrate_chart',
            width: "90%",
            height: 650,
            dataSource: {
                data: HeartrateTable,
                "series": "Type",
                "yAxis": [{
                    "plot": {
                        "value": "心率",//對應schema的欄位
                        "connectNullData": true,
                        "style": {
                            "line.null": {
                                "stroke-dasharray": "10",
                                "stroke": "#d0d0d0"
                            },
                            "border": 30,
                        },
                        "lineThickness": "20"
                    },
                    "min": "0",
                    "max": "100",
                }],
                chart: {
                    exportEnabled: "1", //Enable Export Feature
                }
            }
        }).render()
    </script>
</table>