.st0
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  border-style : Solid;
  border-color : #FF423F;
  border-color : rgba(255, 66, 63, 1);
  border-width : 1px;
}
.st1
{
  background : #E9423F;
  background : rgba(233, 66, 63, 1);
  border-style : Solid;
  border-color : #FF423F;
  border-color : rgba(255, 66, 63, 1);
  border-width : 1px;
}